<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.handi.handi">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_handi"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activitys.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activitys.UserSignupActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.LoginActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.ResetPasswordActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.LoginOrSignupActivity"
            android:configChanges="orientation"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.HandiManSignupActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.JobSelectionActivity"
            android:configChanges="orientation"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.JobDescriptionActivity"
            android:configChanges="orientation"
            android:noHistory="true"
            android:screenOrientation="portrait">
            >
        </activity>
        <activity
            android:name=".Activitys.SignUpChoiceActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.UserHomeActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_user_home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activitys.ChooseHandiTypeActivity"
            android:configChanges="orientation"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.HandiHomeActivity"
            android:label="@string/title_activity_handi_home"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activitys.AdminActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.HandiEditProfileActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".Activitys.HandiProfileView" />
        <activity
            android:name=".Activitys.ViewJobDescriptionActivity"
            android:configChanges="orientation"
            android:noHistory="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.OfferQuoteDescriptionActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.RatingsPopUpWindow"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity android:name=".Activitys.AcceptQuotePopUpWindow"
            android:theme="@style/AppTheme.CustomTheme"></activity>
    </application>

</manifest>